body{
	background-color: black;
	border-top: 10px solid #555;
	margin:0;
}
#box-container {
  width:70%;
  border:1px solid #000;
  margin:auto;
}
#header{
	text-align: center;
	border-bottom: double #555;
}
h1{
	color:white;
	font-family: arial;
	margin:20px 0 0 0;
}
p{
	color:#999;
}
#header p{
	width:75%;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.em {
	width:75%;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: italic;
	font-size: 20px;
	text-align: center;
}

	
a{
	text-decoration: none;
	color:yellow;
}
a:hover{
	color:#ddd;
}
#footer{
	font-family: arial;
	font-size: 13px;
}
#copyright{
	display:inline;
	float:left;
}
#links{
	display:inline;
	float:right;
}
#web_dev{
	border-bottom: double #555;
	padding:20px 10px;
	margin:auto;
}
#photography{
	border-bottom: double #555;
	padding:10px;
	padding-bottom: 20px;
}
.images{
	height:200px;
	width:300px;
	display:inline-block;
	color: white;
	text-align: center;
	padding:2px;
}
img{
	height:150px;
	width:300px;
}
img:hover{
	opacity:0.5;
}
.caption:hover{
	color:#666;
}
.caption{
	color:#999;
}